<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error then angular is not to blame!</p>
    <p>What to do Next?</p>
    <ol>
        <li>Open chrome dev tools and check failing network request in network tab</li>
        <li>Examine the Url of the failing request</li>
        <li>Reproduce the error in Postman - if you can repoduce, then angular is not to blame</li>
    </ol>
    <p class="font-weight-bold">Following is the stack trace -  check the first 2 lines, this tells you exactly which line of code caused the issue</p>
    <code class="mt-5">
        {{error.details}}
    </code>
}
